{{yield}}
<div class="popover-panel">
  <PopoverMenu @keyboardAccess={{false}} @activeOnHover={{true}}>
    <BlockSlot @name="trigger">
      {{yield}}
    </BlockSlot>
    <BlockSlot @name="menu">
      {{yield}}
    </BlockSlot>
  </PopoverMenu>
</div>